:root {
  /* 🎨 Colors */
  --color-primary: #d42117;
  --color-primary-border: #A31818;
  --color-on-primary: #f7f7f7;
  --color-border: #d6d6d6;
  --color-border2: #ababab;
  --color-border-active: #2b2b2b;

  /* 📏 Spacing */
  --spacing-page: 16px; /* Horizontal space for pages */
}

@media (min-width: 640px) {
  :root {
    --spacing-page: 24px;
  }
}

@media (min-width: 968px) {
  :root {
    --spacing-page: 32px;
  }
}

@media (min-width: 1280px) {
  :root {
    --spacing-page: 64px;
  }
}

@media (min-width: 1536px) {
  :root {
    --spacing-page: 64px;
  }
}
