<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Sanmarcux</title>
	</head>
	<body>
		<h1>Sanmarcux.org</h1>
		We are so fucking back
	</body>
</html>
