---
import Footer from '@components/footer.astro';
import Header from '@components/header.astro';
import Content from '@layouts/content.astro';
import Layout from '@layouts/layout.astro';
---

<Layout title="Sanmarcux">
	<Header />
	<Content>
		<!-- <h1>Sanmarcux.org</h1>
		We are so fucking back -->
	</Content>
	<img src="https://daikonet.neocities.org/img/hypernet_img/carrera2.png" />
	<Footer />
</Layout>

<style>
</style>
