---
import Footer from '@components/footer.astro';
import Header from '@components/header.astro';
import Content from '@layouts/content.astro';
import Layout from '@layouts/layout.astro';
---

<Layout title="Sanmarcux">
	<Header />
	<Content>
		<!-- <h1>Sanmarcux.org</h1>
		We are so fucking back -->
<br />
<h1 style="font-size: 1.5rem;">Sitio en construcción!</h1>
<br />
<img height="500px" src="https://scontent.flim28-1.fna.fbcdn.net/v/t39.30808-6/480708534_567060373013030_132024825198625590_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEAUn8s5P393ligBK6PGTIU74j6lM-MG1TviPqUz4wbVM2Mi6ipKGu_Zk8AjuTz7mmbL9F0T0zUeektDwpXhZqh&_nc_ohc=p2fL8-tpj_AQ7kNvwEKqbJx&_nc_oc=AdnF5ljexxGU1oLJVOKdcbjF-GdO5Dj2Skxsnhi9KeiSbNsmqtHU_8UhWuimVYDDonA&_nc_zt=23&_nc_ht=scontent.flim28-1.fna&_nc_gid=0eyNWfLohyat9Csp_VkHtg&oh=00_AfNmAYWppePbMh77nRaXEP5n2LMogmh-WdroIfhaFzAa7g&oe=6857597E" />
<div>
	<i>Érase una vez...</i>
</div>
<br />
	</Content>
	<Footer />
</Layout>

<style>
</style>
