---
import Content from "@layouts/content.astro";
import NavItem from "./nav-item.astro";
import Anchor from "./anchor.astro";
---

<header>
  <Content>
    <div id="logo-wrapper">
      <img src="/logo.svg" />
      <div>
        <h2>San marcux</h2>
        <span>La comunidad sanmarquina de <i><Anchor variant="white" hideExternalIcon href="https://www.fsf.org/es/recursos/que-es-el-software-libre">software libre</Anchor></i></span>
      </div>
    </div>
  </Content>
</header>
<nav>
  <Content style={{
    display: 'flex',
    gap: '1.2rem',
    padding: '0 6px',
  }}>
    <NavItem href="/">Home</NavItem>
    <NavItem href="#">Recursos</NavItem>
    <NavItem href="#">Sobre nosotros</NavItem>
  </Content>
</nav>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 7.25rem;
    white-space: nowrap;
    background-color: rgb(16, 15, 15);
    // background: linear-gradient(180deg, #e4e0d2, #eeeadf, #ffffff);
    // background: linear-gradient(180deg, black, black, black, black, black, #1d1b18, #1e1b1b, #6b2b2b);
  }

  #logo-wrapper {
    display: flex;
    align-items: center;

    img {
      width: 4.5rem;
      height: 4.5rem;
      min-width: 4.5rem;
      min-height: 4.5rem;
      margin-right: 0.9rem;
    }

    h2 {
      color: white;
      font-weight: bold;
      font-size: 1.6em;
    }

    span {
      color: white;
      font-weight: normal;
      font-size: 1.2rem;
    }
  }

  nav {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    border-top: 3px solid #dbba5a;
    background-color: #800000;
    width: 100%;
    height: 28px;
  }
</style>
